img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  border-top: 1px solid #c7c7c9;
  border-left: 1px solid #a9a9ab;
  border-right: 1px solid #a9a9ab;
  border-bottom: 1px solid #858486;
  -webkit-box-shadow: 0 1px 5px #aaa;
  -moz-box-shadow: 0 1px 5px #aaa;
  box-shadow: 0 1px 5px #aaa;
}

h4 {
  display: block;
  display: inline;
  line-height: 50%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

small {
  font-size: smaller;
}

small.grey {
  font-size: 12px;
  color: #999;
}

span {
  font-size: 10px;
  line-height: 0px;
}

body {
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #17A0DF;
  z-index: 9999;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.el-header {
  position: relative;
  width: 100%;
  height: 60px;
}

.add-button {
  float: right;
  font-weight: bold;
  color: aliceblue;
  background-color: #17A0DF;
}

.list-button {
  float: right;
  margin-right: 50px;
  margin-top: 10px;
}

.drawer-footer {
  flex: auto;
  padding-bottom: 50px;
}

.searcher {
  margin: 0px 0px 20px 0px;
}

.you {
  width: 491;
  height: 880;
  position: absolute;
  right: 0;
  bottom: 50px;
}
